DISCORD_TOKEN=dein_bot_token
DISCORD_CHANNEL_ID=123456789012345678
ARK_LOG_PATH=C:\\Pfad\\zu\\deinem\\ShooterGame.log
ARK_RULES_PATH=rules.json
ARK_DB_PATH=ark_stats.db
POLL_INTERVAL_SECONDS=1.5
BURST_TOP_ITEMS=5
BURST_MAX_BUFFER_SIZE=250
LEADERBOARD_POST_INTERVAL_SECONDS=21600
