DISCORD_TOKEN=dein_bot_token
DISCORD_CHANNEL_ID=123456789012345678
DISCORD_GUILD_ID=
ARK_LOG_PATH=C:\\Pfad\\zu\\deinem\\ShooterGame.log
ARK_WILD_KILLS_FEATURE_ENABLED=false
ARK_WILD_KILLS_CSV_PATH=
ARK_RULES_PATH=rules.json
ARK_DB_PATH=ark_stats.db
POLL_INTERVAL_SECONDS=1.5
ARK_LOG_HARD_REOPEN_INTERVAL_SECONDS=900
BURST_TOP_ITEMS=5
BURST_MAX_BUFFER_SIZE=250
LEADERBOARD_POST_INTERVAL_SECONDS=21600
ARK_DISCORD_POSTING_ENABLED=true
ARK_DB_DISCORD_LOG_ENABLED=false
ARK_DB_DISCORD_LOG_INTERVAL_SECONDS=300
ARK_SERVER_RESTART_ENABLED=false
ARK_SERVER_RESTART_COMMAND=
ARK_SERVER_RESTART_TIMEOUT_SECONDS=300
ARK_INGAME_CHAT_TO_DISCORD_ENABLED=false
ARK_DISCORD_TO_INGAME_ENABLED=false
ARK_DISCORD_TO_INGAME_PREFIX=[Discord]
ARK_DISCORD_TO_INGAME_RATE_LIMIT_SECONDS=2.5
ARK_DISCORD_TO_INGAME_MAX_LENGTH=220
ARK_RCON_HOST=
ARK_RCON_PORT=27020
ARK_RCON_PASSWORD=
ARK_RCON_TIMEOUT_SECONDS=5

ARK_LOG_FILE=ark_discord_bot.log
ARK_LOG_LEVEL=INFO
ARK_LOG_FILE_LEVEL=INFO
ARK_LOG_DISCORD_MESSAGES=true
ARK_DISCORD_MESSAGE_DEBUG=true
